.CarouselCard {
  width: 460px;
  min-height: 490px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  align-content: start;
  justify-content: start;
  padding: 100px 60px;
  background-color: #f4eaeb;
  border-radius: 4;
  box-shadow: 0.71px 0.71px 10px 5px black;
  opacity: 1;
  cursor: grab;
}
.div1 {
  font-size: 80px;
}
.icon {
  font-size: 80px;
  padding: 10px;
}
