#root {
    width: 100%;
    position: relative;
  }
  
  .container {
    display: flex;
    width: 100%;
    max-width: 1345px;
    padding: 20px 40px;
  margin:0 auto;
  box-sizing:border-box;
  
  }
  
  section {
  width: 100%;
  overflow-x: hidden;
  }
  
  
  @keyframes movingAround {
    0%{
      transform:translate(0,0);
    }
    25% {
      transform: translate(5px, -5px);
    }
    50% {
      transform: translate(-5px, 5px);
    }
    75% {
      transform: translate(5px, 5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  .animate {
    animation: movingAround 3s ease-in-out infinite;
  }
  