@import "./Variables";

$global-font-family: "DM sans", system-ui, Avenir, Helvetica, Arial, sans-serif;


* {
  margin: 0px;
  padding: 0;
  font-family: $global-font-family;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}



.container {
  display: flex;
  width: 100%;
  max-width: 1345px;
  padding: 20px 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

section {
  width: 100%;
  overflow-x: hidden;
}

@keyframes movingAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate {
  animation: movingAround 3s ease-in-out infinite;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 64px; /* 118.519% */
  letter-spacing: -0.4px;
}
h2 {
  font-size: 37px;
  font-weight: 400;
  line-height: 62px; /* 167.568% */
  letter-spacing: -0.4px;
}

h3 {
  font-size: 32px;

  font-weight: 700;
  line-height: 48px;
}
h4 {
  font-size: 30px;
  font-weight: 700;
}
h5 {
  font-size: 24px;
  font-weight: 500;
}
p{
  margin: 0px;
}